<launch>
	<arg name="affw" default="false" />

	<param name="joy/deadzone" value="0.2" />
	<node name="joy" pkg="joy" type="joy_node" output="screen" />
	
	<param name="vDef" value="0.1" />
	<param name="vMax" value="0.1" />
	<param name="dccDef" value="1" />
	<param name="dccMax" value="1" />
	<param name="accDef" value="1" />
	<param name="accMax" value="1" />
	<param name="rotateDef" value="0.2" />
	<param name="rotateMax" value="0.2" />
	<param name="rotateMin" value="0.1" />
	<param name="rotateAcc" value="5" />
	<param name="affw" value="$(arg affw)" />
	<param name="cmd_vel_topic" value="cmd_vel_raw" />
	<node name="affw_joy" pkg="affw_joy" type="joy2vel" output="screen" />
</launch>